<ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Accueil</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/stagiaire">Stagiaire</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/adresse">Adresse</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/observable">Observable</a></li>
    <li routerLinkActive="active"><a routerLink="/vehicule/camion">Camion (Module véhicule)</a></li>
    <li routerLinkActive="active"><a routerLink="/exercice/tableau/0">Tableau (Module exercice)</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/formulaire">Formulaire (Template-driven forms)</a></li>
    <li routerLinkActive="active"><a routerLink="/exercice/calculette">Calculette (Forms module)</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/form">Formulaire Réactif (Reactive forms)</a></li>
    <li routerLinkActive="active"><a routerLink="/exercice/commentaire">Commentaire (Form Builder + Form Array)</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/personne">Personne (Service + HTTP)</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/pere">Pere/fils (ng-content et @Input)</a></li>
    <li routerLinkActive="active"><a routerLink="/exercice/list">List/Item (ng-content et @Input)</a></li>
    <li routerLinkActive="active"><a routerLink="/cours/parent">Parent/child (@Output)</a></li>

</ul>