<h2>Formulaire Réactif</h2>
<form (ngSubmit)="afficherTout()" [formGroup]="personneForm">
    <div>
        <label for="id">Identifiant</label>
        <input type="text" id="id" name="id" formControlName="id">
        <span *ngIf="!(id.valid ||id.pristine) && id.errors">
            <span *ngIf="id.errors['required']">
                L'identifiant est obligatoire.
            </span>
        </span>
    </div>
    <div>
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" formControlName="nom">
        <span *ngIf="!(nom.valid ||nom.pristine) && nom.errors">
            <span *ngIf="nom.errors['required']">
                Le nom est obligatoire.
            </span>
            <span *ngIf="nom.errors['pattern']">
                Le nom doit contenir entre 3 et 10 caractères (Première lettre en majuscule).
            </span>
        </span>
    </div>
    <div>
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom" formControlName="prenom">
        <span *ngIf="!(prenom.valid ||prenom.pristine) && prenom.errors">
            <span *ngIf="prenom.errors['required']">
                Le prénom est obligatoire.
            </span>
            <span *ngIf="prenom.errors['majuscule']">
                {{ prenom.errors['majuscule'] }}
            </span>
        </span>
    </div>
    <div formGroupName="adresse">
        <h3>Adresse</h3>
        <div>
            <label for="rue">Rue</label>
            <input type="text" id="rue" name="rue" formControlName="rue">
        </div>
        <div>
            <label for="codePostal">Code postal</label>
            <input type="text" id="codePostal" name="codePostal" formControlName="codePostal">
        </div>
        <div>
            <label for="ville">Ville</label>
            <input type="text" id="ville" name="ville" formControlName="ville">
        </div>
    </div>
    <div formArrayName="sports">
        <h3>Sports</h3>
        <button type="button" (click)="ajouterSport()">Ajouter sport</button>
        <div *ngFor="let sport of sports.controls; let i=index">
            <label for="">Sport</label>
            <input type="text" [formControlName]="i">
        </div>
    </div>
    <button [disabled]="!personneForm.valid">Cliquer</button>
</form>