<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Interpolation</h2>
<ul>
  <li>Nom : {{ stagiaire.nom }}</li>
  <li>Prénom : {{ stagiaire.prenom ?? "prénom indéfini" }}</li>
</ul>
<p>{{ stagiaire | json }} </p>
<ul>
  <li>{{ tab[0] }}</li>
  <li>{{ tab["1"] }}</li>
  <li>{{ tab['2'] }}</li>
  <li>{{ tab[3] }}</li>
</ul>
<p>{{ direBonjour() }}</p>
<h2>Property binding</h2>
<p [textContent]="title" [id]="title"></p>
<p [id]="title"> {{ title }}</p>
<p id="{{ title }}"> {{ title }}</p>
<!-- ul>li*3 : crée une liste avec 3 item-->
<h2>Event binding</h2>
<div>
  <button (click)="afficherBonjour()">
    cliquer
  </button>
</div>
