<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Interpolation</h2>
<ul>
  <li>Nom : {{ stagiaire.nom }}</li>
  <li>Prénom : {{ stagiaire.prenom ?? "prénom indéfini" }}</li>
</ul>
<p>{{ stagiaire | json }} </p>
<ul>
  <li>{{ tab[0] }}</li>
  <li>{{ tab["1"] }}</li>
  <li>{{ tab['2'] }}</li>
  <li>{{ tab[3] }}</li>
</ul>
<p>{{ direBonjour() }}</p>
<h2>Property binding</h2>
<p [textContent]="title" [id]="title"></p>
<p [id]="title"> {{ title }}</p>
<p id="{{ title }}"> {{ title }}</p>
<!-- ul>li*3 : crée une liste avec 3 item-->
<h2>Event binding</h2>
<div>
  <button (click)="afficherBonjour()">
    cliquer
  </button>
</div>
<h2>Directives</h2>
<h3>*ngFor</h3>
<ul>
  <li *ngFor="let elt of tab, let i=index">
    {{ i }} : {{ elt }}
  </li>
</ul>
<ul>
  <li *ngFor="let elt of tab, index as i, let isFirst=first, let estPair=even">
    {{ i }} : {{ elt }} : {{ isFirst}} : {{ estPair }}
  </li>
</ul>
<ul>
  <li *ngFor="let elt of stagiaires">
    {{ elt.nom }} {{ elt.prenom }}
  </li>
</ul>
<h3>*ngIf</h3>
<p *ngIf="tab[0] % 2 == 0"> {{ tab[0] }} est pair</p>
<p *ngIf="tab[1] % 2 == 0; else impair"> {{ tab[1] }} est pair</p>
<ng-template #impair>
  <p>{{ tab[1] }} est impair</p>
</ng-template>
<ul>
  <li *ngFor="let elt of tab">
    <ng-container *ngIf="elt % 2 == 0; else sinon">
      {{ elt }} est pair
    </ng-container>
    <ng-template #sinon>
      {{ elt }} est impair
    </ng-template>
  </li>
</ul>
<ul>
  <li *ngFor="let elt of moyennes">
    <ng-container *ngIf="elt < 10; else moyen">
      {{ elt }} : échec
    </ng-container>
    <ng-template #moyen>
      <ng-container *ngIf="elt < 13; else bien">
        {{ elt }} : moyen
      </ng-container>
      <ng-template #bien>
        <ng-container *ngIf="elt < 16; else tresbien">
          {{ elt }} : bien
        </ng-container>
        <ng-template #tresbien>
          {{ elt }} : très bien
        </ng-template>
      </ng-template>
    </ng-template>
  </li>
</ul>
<ul>
  <li *ngFor="let elt of moyennes">
    <ng-container *ngIf="elt < 10; else moyen">
      {{ elt }} : échec
    </ng-container>
    <ng-template #moyen>
      <ng-container *ngIf="elt < 13; else bien">
        {{ elt }} : moyen
      </ng-container>
    </ng-template>
    <ng-template #bien>
      <ng-container *ngIf="elt < 16; else tresbien">
        {{ elt }} : bien
      </ng-container>
    </ng-template>
    <ng-template #tresbien>
      {{ elt }} : très bien
    </ng-template>
  </li>
</ul>